{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4 p-md-5">
        <h1 class="h3 text-center mb-4">Sign in</h1>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'usermgmt:login' %}">
          {% csrf_token %}
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" autocomplete="email" required aria-required="true" aria-label="Email" />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" autocomplete="current-password" required aria-required="true" aria-label="Password" />
          </div>

          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="remember" value="1" id="rememberMe" checked aria-checked="false" />
                <label class="form-check-label" for="rememberMe"> Remember me </label>
              </div>
            </div>

            <div class="col text-end">
              <a href="{% url 'usermgmt:forgot_password' %}">Forgot password?</a>
            </div>
          </div>

          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 w-100">Sign in</button>

          <div class="text-center">
            <p>Not a member? <a href="{% url 'usermgmt:register' %}">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
